/* Ginawa ko po munang 768 yung height and 1000 yung width kasi po di ko po sure yung common na screen size*/

html, body, html *, body *, table * {
    font-family: 'Open Sans',sans-serif;
}

body
	{
		height: 100%; 
		width: auto;
		background: linear-gradient(to top right, #20457e, #487ed0);
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

.reports
{
    color: #f0f0f0;   
}

/*FOR QUARTERLY REPORTS*/
table.quarterlyReport
{
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white;
    width: 945px;
    font-size: 20; 
}

table.quarterlyReport th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

table.quarterlyReport th {
    background: #666;
    color: white;
}

table.quarterlyReport td {
    background: #FAFAFA; /* Lighter grey background */
}

/* Cells in even rows (2,4,6...) are one color */
table.quarterlyReport tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
table.quarterlyReport tr:nth-child(odd) td { background: #FEFEFE; }

.quarterlyGraph {
    width: 100%:
    min-width: 310px;
    height: 400px;
    margin: 0 auto
}

/* FOR MONTHLY REPORTS */
table.monthlyReport
{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1;
    width: 95%;

}

table.monthlyReport td
{
    background-color: #2980b9;
    padding: 5px;

}

table.monthlyReport tr:nth-child(even) td 
{ 
    background: #f0f0f0; 
}

table.monthlyReport td.inputtedMonthYear
{
    background-color: #2980b9;
    text-align: left;
    font-size: 20px;
    color: #f0f0f0;
    font-weight: bold;
}

table.monthlyReport td.ReportTitle
{
    background-color: #2980b9;
    text-align: right;
    font-size: 20px;
    color: #f0f0f0;
    font-weight: bold;
}

table.monthlyReport td.CountPart /* FOR YS ATTENDANCE & TNOE COUNT */
{
    background-color: #f0f0f0;
    color: #151515;
}

table.monthlyReport td.LabelStories /* Label: SV, EVS, NVWS, NVGLS */
{
    font-weight: bold;
    color: #f0f0f0;
}

table.monthlyReport td.DescStories /* Stories of SV, EVS, NVWS, NVGLS */
{
    font-style: italic;
    color: #151515;
}


